<div class="container container-reminders">

      <h5>Mes emprunts</h5>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="<%= "active" if @active_tab == "emprunts" %>"><a href="#emprunts" aria-controls="emprunts" role="tab" data-toggle="tab">Empruntés</a></li>
          <li role="presentation" class="<%= "active" if @active_tab == "demandes" %>"><a href="#demandes" aria-controls="demandes" role="tab" data-toggle="tab">Demandes envoyées</a></li>
          <li role="presentation" class="<%= "active" if @active_tab == "add" %>"><a href="#add" aria-controls="add" role="tab" data-toggle="tab"><i class="fas fa-plus-circle"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="emprunts">
            <div class="row">
              <% @validate_reminders.each do |reminder| %>
                <div class="col-xs-6 col-md-4 col-lg-3">
                  <% if reminder.item.nil? %>
                    <% item_ghost = Item.new(name: reminder.ghost_item, verbe: "To Lend") %>
                    <% reminder.item = item_ghost %>
                    <%= render 'shared/card_item', item: reminder.item, ghost_reminder: reminder %>
                  <% else %>
                    <%= render 'shared/card_item', item: reminder.item %>
                  <% end %>
                </div>
              <% end %>

            </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="demandes">
            <div class="row">
              <% @waiting_reminders.each do |reminder| %>
                <div class="col-xs-6 col-md-4 col-lg-3">

                    <%= render 'shared/card_item', item: reminder.item %>

                </div>
              <% end %>

            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="add">
            <div class="row">

              <h5>Ajouter un rappel</h5>
              <p class="text-rappel">Besoin de vous souvenir d'un objet que vous avez emprunté à un ami en dehors du réseau ?</p> <br>

              <%= render 'form_item_outside', reminder: @reminder %>

            </div>

          </div>

        </div>
      </div>
</div>
