<div class="col-xs-12 col-md-3">
  <div class="zone">

    <h4>My networks</h4>

    <% @networks.each do |network| %>

      <div class="network">
        <h5><%= network.name %> - <%= network.validate_network_users.size %></h5>

        <% network.validate_network_users.each do |network_user| %>

            <%= render 'shared/card_network', network_user: network_user %>

        <% end %>

      </div>

    <% end %>
  </div>
</div>


<div class="col-xs-12 col-md-6">
  <div class="zone">

      <%= form_tag network_users_path, method: :get, class: "search" do %>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Search a people not yet in your network",
          class: "input"
        %><i class="fa fa-search" aria-hidden="true"></i>
      <% end %>

    <div class="row">

      <% if @users.size == 0 %>

        <div class="col-xs-12">
          Sorry, no friend match with your request.
        </div>

      <% else %>

        <% @users.each do |user| %>
          <div class="col-xs-4">
            <%= render 'shared/card_friend', user: user %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>


<div class="col-xs-12 col-sm-3">
  <div class="zone">
    <div class="row">


        <h4>Friend requests</h4>
        <% @friend_requests.each do |network_user| %>

            <%= render 'shared/card_network_friend_request', network_user: network_user %>

        <% end %>

        <h4>Requests sent</h4>

        <% @pending_network_users.each do |network_user| %>

            <%= render 'shared/card_network_request_sended', network_user: network_user %>

        <% end %>

    </div>
  </div>
</div>
