<div class="col-xs-12 col-lg-3">
    <!-- Current friends -->
    <h4>Mes amis - <%= @default_network_users.count %></h4>
    <% @default_network_users.each do |network_user| %>
        <%= render 'shared/card_network', network_user: network_user %>
    <% end %>

    <!-- Request sent -->
     <% if @pending_network_users.size != 0%>
      <h4>Demandes envoyées</h4>
      <% @pending_network_users.each do |network_user| %>
          <%= render 'shared/card_network_request_sended', network_user: network_user %>
      <% end %>
    <% end %>
</div>

<div class="col-xs-12 col-lg-6">
  <div class="zone row">
    <div class="col-xs-12">
    <%= render 'shared/search_bar', query: params[:query], placeholder: "Chercher un contact", path: network_users_path %>
  <hr>
  </div>

    <% if @users.size == 0 %>
      <div class="col-xs-12">
        Aucune personne trouvée avec votre recherche.
      </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= render 'shared/card_friend', user: user %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 col-lg-3">
  <div class="friends row">
    <!-- Friends request -->
    <h4>Demandes de mise en relation</h4>
      <% if @friend_requests.size == 0%>
        Aucune demande pour le moment.
      <% end %>
    <% @friend_requests.each do |network_user| %>
        <%= render 'shared/card_network_friend_request', network_user: network_user %>
    <% end %>
  </div>
</div>

