<%= link_to item_path(reminder.item) do  %>
  <div class="item-card">
    Name : <%= reminder.item.name %> <br>
    Verbe : <%= reminder.item.verbe %> <br>
    <%= humanized_money_with_symbol(reminder.item.price)%> <br>
    Appartient à : <%= reminder.item.collection.user.email %>
  </div>
<% end %>
