<div class="card-friend">

    <% if user.avatar.file.nil? %>
      <i class="fas fa-user avatar-icon"></i>
    <% else %>
      <%= cl_image_tag user.avatar, height: 100, width: 100, crop: :fill, class: "avatar-img" %>
    <% end %>

  <div class="infos">
    <% if user.username.nil? %>
      <%= user.email %>
    <% else %>
      <%= user.username %> <br>
      <span class="email"> <%= user.email %> </span>
    <% end %>
  </div>

  <%= render 'shared/card_friend_buttons', user: user %>

</div>


