<div class="card-list">
  <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url_image(item) %>');">
    <% if ghost_reminder.nil? %>
      <%= link_to "", item_path(item), class: "card-link"  %>
    <% end %>
  </div>
  <div class="card-infos">
    <div class="item-name">
      <%= item.name %>
    </div>
    <div class="item-category">
      <% if ghost_reminder.nil? %><%= item.category.name %> <% end %>
    </div>
    <% unless item.description.nil? || item.description == "" %>
      <div class="item-description">
        <%= item.description %>
      </div>
    <% end %>
  </div>

  <div class="card-state">
    <div class="item-text">
      <% if ghost_reminder.nil? %>
        <%= item.text("out") %>
      <% else %>
        Emprunté à:
      <% end %>
    </div>
    <% if ghost_reminder.nil? %>
      <%= render 'shared/avatar_name', user: item.user %>
    <% else %>
      <%= render 'shared/avatar_name', user: User.new(username: ghost_reminder.ghost_name, email: "(Hors réseau)") %>
      <%= link_to reminder_path(ghost_reminder),
      method: :delete,
      data: {confirm: "Voulez-vous supprimer ce rappel ?" }  do %>
          <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>


