<div class="item-card-list">

<!-- IMAGE -->
  <%= link_to item_path(item) do %>
    <div class="flex-item">
      <%= cl_image_tag item.photo, height: 150, width: 150, crop: :fill, class: "img-card" %>
    </div>
  <% end %>

  <div class="flex-item" id="item-infos">
    <div id="cell1">
      <!-- TITRE -->
      <div class="title-card-list"><%= link_to item.name, item_path(item) %></div>
      <!-- VERBE -->
      <div class="verb"><%= item.verbe %></div>
    </div>
  </div>

<!-- TOGGLE BUTTON -->
  <% if item.reminders[0].nil? %>

    <div class="flex-item essai">
      <div class="disponible">
        <div class="puce"></div>Disponible - <%= link_to "Lend", new_item_reminder_path(item), class: "action" %>
      </div>
    </div>

  <% else %>

<!-- TEMPORARY OWNER -->
    <div class="flex-item">
      <div class="status">
        <div class="puce"></div>
          <%= link_to "Available again", reminder_path(item.reminders[0].id),
            method: :delete,
            data: {confirm: "Are you back in possession of this item ?" } %>
            Prêté à :
            <% if item.reminders[0].ghost_name.nil? %>
              <%= item.reminders[0].user.email %>

            <% else %>
              <%= item.reminders[0].ghost_name %> (Outside friend)
            <% end %>
      </div>
    </div>

  <% end %>

  <!--PRIX FACULTATIF -->

  <div class="flex-item">
    <div class="price">
      <%= humanized_money_with_symbol(item.price) %>€
    </div>
  </div>

</div>


