<div class="item-card-list">

<!-- VERB -->
  <div class="verb-container">
    <div class="verb">
      <%= item.verbe %>
    </div>
  </div>
<!-- IMAGE -->
    <%= cl_image_tag item.photo, height: 150, width: 150, crop: :fill, class: "img-card title-card-list-avatar" %>

<!-- AVATAR -->
  <% if item.reminders[0].nil? || item.reminders[0].status == "pending" %>


<!-- Name + Description -->
    <div class="detail-card-list">
        <%= link_to item.name, item_path(item), class: "title-card-list" %>

        <div class="description">
          <%= item.description %>
        </div>
    </div>

  <% else %>

<!-- TEMPORARY OWNER -->
    <div class="flex-item">
      <div class="title-card-list-avatar">
        <%= cl_image_tag item.reminders[0].user.avatar, class: "avatar" %>
      </div>
      <div class="status">
        <div class="puce"></div>
          <%= link_to "Available again", reminder_path(item.reminders[0].id),
            method: :delete,
            data: {confirm: "Are you back in possession of this item ?" } %>
            Prêté à :
            <% if item.reminders[0].ghost_name.nil? %>
              <%= item.reminders[0].user.email %>

            <% else %>
              <%= item.reminders[0].ghost_name %> (Outside friend)
            <% end %>
      </div>
    </div>

  <% end %>
  <!--PRIX FACULTATIF -->
  <div class="price">
          <% if item.verbe == "To Rent" %>
        <%= humanized_money_with_symbol(item.price) %><span>/d</span>
      <% elsif item.verbe == "To Sell"%>
        <%= humanized_money_with_symbol(item.price) %>
      <% end %>
  </div>
</div>


