

<div class="card-network">


      <% if network_user.network.user.avatar.file.nil? %>
        <i class="fas fa-user avatar avatar-icon" ></i>
      <% else %>
        <%= cl_image_tag network_user.network.user.avatar, height: 60, width: 60, crop: :fill, class: "avatar-img" %>
      <% end %>


      <div class="infos">
        <% if network_user.network.user.username.nil? %>
          <%= network_user.network.user.email %>

        <% else %>
          <%= network_user.network.user.username %> <br>
          <span class="email"> <%= network_user.network.user.email %> </span>
        <% end %>
      </div>

      <div class="buttons">

        <%= link_to accept_network_user_path(network_user), class: "little-button" do %>
            <i class="far fa-check-circle"></i>
        <% end %>

        <%= link_to network_user_path(network_user),
        method: :delete,
        data: {confirm: "Are you sure you want to decline this friend request ?" }, class: "little-button"  do %>

            <i class="far fa-times-circle"></i>

        <% end %>
      </div>

</div>
