<%= link_to item_path(item)  do %>
  <div class="card">
    <div class="waiting-answer <%= 'hidden' if !item.waiting_answer? || current_user != item.user %>"><i class="fas fa-question"></i></div>
    <div class="card-photo" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.2)), url('<%= url_image(item) %>');">
        <div class="card-category"><%= item.category.name %></div>
    </div>
    <div class="card-footer">
      <% if item.validate_reminder %>
        <div class="card-icon icon-validate-reminder">
          <i class="fas fa-hands-helping"></i>
        </div>
      <% elsif item.available? && !item.waiting_answer? %>
        <div class="card-icon icon-available">
          <i class="fas fa-thumbs-up"></i>
        </div>
      <% elsif current_user != item.user && item.waiting_answer? %>
        <div class="card-icon icon-waiting">
          <i class="fas fa-question"></i>
        </div>
      <% end %>
      <div class="card-item-name"><%= item.name %></div>
      <div class="card-item-verb"><%= item.verbe %></div>
      <div class="card-item-description"><%= item.object_description(current_user) %></div>
    </div>
  </div>
<% end %>
