<%= link_to item_path(reminder.item) do  %>

  <div class="reminder-image">
    <%= cl_image_tag reminder.item.photo, style: 'height:160px; width:100%'%>
  </div>
  <div class="reminder-card">
    <div class="reminder-price">
      <%= humanized_money_with_symbol(reminder.item.price)%>
    </div>
    <div class="reminder-owner">
        <%= cl_image_tag reminder.item.user.avatar,  height: 30, width: 30, alt: "alttext", class: "card-user-reminder avatar"%>
        <div class="belongs"> owner <%= reminder.item.collection.user.email %></div>
    </div>
    <div class="reminder-object">
      <div class="reminder-name">
        <%= reminder.item.name %>
        <div class="reminder-verb">
          | <%= reminder.item.verbe %>
        </div>
      </div>

      <div class="reminder-description">
        <%= reminder.item.description %>
      </div>
    </div>
  </div>
<% end %>
