<div class="card-container">

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url_image(item) %>');">


    <div class="card-category"><%= item.category.name %></div>
    <div class="card-description">
      <h2><%= item.name %></h2>
    </div>
    <% unless item.user == current_user %>
      <%= cl_image_tag item.user.avatar, alt: "alttext", class: "card-user avatar" %>
    <% end %>
    <%= link_to "", item_path(item), class: "card-link"  %>
  </div>

  <!-- Footer -->
  <div class="card-footer">

    <!-- When available -->
    <% if item.available? %>
    <div class="card-tag" style="margin-left: 5px">
      <%= item.verbe %>
    </div>
    <div style="margin-right: 5px">
      <% if item.verbe == "To Rent" %>
        <%= humanized_money_with_symbol(item.price) %><span>/d</span>
      <% elsif item.verbe == "To Sell"%>
        <%= humanized_money_with_symbol(item.price) %>
      <% end %>
    </div>
    <% end %>

    <!-- When not available -->
    <% if !item.available? && freeable %>
      <%= link_to "Available again", reminder_path(item.reminders[0].id),
      method: :delete,
      data: {confirm: "Are you back in possession of this item ?" },
      class: "card-tag" %>
      <%= render 'shared/avatar', user: item.reminders[0].user, size: "standard" %>
    <% end %>
  </div>
</div>
