
<div class="notification">
  <div class="notification-body">
    <div class="notification-avatar">
      <%= link_to user_page_path(network_user.network.user.token) do %>
        <% if network_user.network.user.avatar.file.nil? %>
          <i class="fas fa-user avatar avatar-icon" ></i>
          <% else %>
            <%= cl_image_tag network_user.network.user.avatar, class: "avatar" %>
        <% end %>
      <% end %>
    </div>
    <div class="notification-text">
      <% if network_user.network.user.username.nil? %>
          <%= network_user.network.user.email %>
        <% else %>
          <%= network_user.network.user.username %>
          <br>
          <%= network_user.network.user.email %>
      <% end %>
    </div>
  </div>
  <div class="notification-button">
    <!-- Accept -->
    <%= link_to "Accept", accept_network_user_path(network_user), class: "notification-btn accept" %>
    <!-- Decline -->
    <%= link_to "Decline", network_user_path(network_user),
      method: :delete, data: {confirm: "Are you sure you want to decline this friend request ?" },class: "notification-btn decline" %>
  </div>
</div>





