<%= link_to item_path(item) do  %>
  <div class="item-card">
    Name : <%= item.name %> <br>
    Verbe : <%= item.verbe %> <br>
    <%= humanized_money_with_symbol(item.price)%> <br>

    <%  if item.reminders[0].nil? %>
      Disponible - <%= link_to "Lend/Loan", new_item_reminder_path(item), class: "action" %>
    <% else %>
      Prêté à : <%= item.reminders[0].user.email %> -
      <%= link_to "Available again", reminder_path(item.reminders[0].id),
                method: :delete,
                data: {confirm: "Are you back in possession of this item ?" } %>
    <% end %>
    <br>
    <div class="action">
      Edit item
    </div>
  </div>
<% end %>


