<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo/D-noir.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

        <% unless @on_items_page %>

          <%= form_tag items_path, method: :get, class: "search" do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Find an object",
              class: "input"
            %><i class="fa fa-search" aria-hidden="true"></i>
          <% end %>

        <% end %>

      <!-- Links when logged in -->
      <%= link_to "Add an item", new_item_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "My borrowings", collections_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "My collections", collections_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to network_users_path, class: "navbar-wagon-item navbar-wagon-link" do %>
          My friends <% unless current_user.friend_requests.size == 0 %> <span class="badge badge-success pull-right"> <%= current_user.friend_requests.size %> </span> <% end %>
      <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <div class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

            <%= render 'shared/navbar_avatar' %>

          </div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <li>
              <%= link_to user_page_path(current_user.token) do %>
                My page
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

