<div class="container">

  <h4>Dashboard admin Dividi</h4>

  Utilisateurs : <%= @users.size %> <br>
  Réseaux : <%= @networks.size %> <br>
  Collections : <%= @collections.size %> <br>
  Collections partagées : <%= @shares.size %> <br>

  <hr>
  Nombre de liens d'amitié (validés ou non) : <%= @network_users.size %>

  <hr>
  Nombre d'objets : <%= @items.size %> <br>
  Nombre de prêts : <%= @reminders.size %>
</div>
