<div class="container-home">
  <div class="row home-desktop-bg">
    <div class="col-xs-12 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-1">
      <div class="banner">
        <div id='logo-home'>
          <%= image_tag "logo/Logo-noir.png" %>
        </div>
        <div class="tagline">
          <%= t('.tagline_html') %>
        </div>
        <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-primary btn-lg text-center" %>
      </div>
    </div>
  </div>
  <div class="row home-description">
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.lend') %></div>
        <%= t('.lend-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.give') %></div>
        <%= t('.give-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.sell') %></div>
        <%= t('.sell-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.rent') %></div>
        <%= t('.rent-p') %>
      </div>
    </div>
  </div>
</div>
