<div class="container-home">
  <div class="row home-desktop-bg">
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <div class="banner">
        <div id='logo-home'>
          <%= image_tag "logo/Logo-noir.png" %>
        </div>
        <div class="tagline">
          <%= t('.tagline_html') %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-description">
    <div class= "title-description">
      <%= t('.share') %>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.lend') %></div>
        <%= t('.lend-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.give') %></div>
        <%= t('.give-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.sell') %></div>
        <%= t('.sell-p') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <div class="card-description">
        <div class="subtitle-description"><%= t('.rent') %></div>
        <%= t('.rent-p') %>
      </div>
    </div>
  </div>
</div>
