<%= simple_form_for(@item) do |f|%>
  <div class="form-sty"><%= f.input :name, label: t('items.new.label_name') %></div>
  <%= f.association :category, label: t('items.new.category') , prompt: t('items.new.select_category') %>

  <%= f.input :verbe, legend_tag: false, as: :radio_buttons,
    collection: Item.verbes,
    label_method: :second, value_method: :first %>
  <%= f.input :price, label: t('items.new.price') %> </li>


<div class="hr"></div>
  <div class= "form-description"><%= t('items.new.description') %></div>
  <%= f.text_area :description %>
  <%= f.input :photo, input_html: { accept: ('image') } %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="hr bottom"></div>
  <%= f.button :submit, value: button, class: "btn-primary"%>
<% end %>
