<%= simple_form_for(@item) do |f|%>
  <div class="form-sty"><%= f.input :name %></div>
  <%= f.association :category %>

   <%= f.input :verbe, legend_tag: false, as: :radio_buttons,  collection: [ "To Sell", "To Give", "To Lend", "To Rent"]  %>
  <%= f.input :price, label: 'Price €' %> </li>



<div class="hr"></div>
  <div class= "form-description"> Description (Optional) </div>
  <%= f.text_area :description %>
  <%= f.input :photo, input_html: {accept: ('image') } %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="hr bottom"></div>
  <%= f.button :submit, value: button, class: "btn btn-primary"%>
<% end %>
