<div class="wrapper">
  <form action="/items" method="get" id="filter-form">

    <!-- Header -->
    <div class="head" style="display: flex">
      <!-- Reset filters -->
      <div class="side-bar">
        <%= link_to "Supprimer tous les filtres", items_path, class: "btn btn-primary" %>
      </div>

      <!-- Search bar -->
      <div class="search col-xs-12 col-md-4 col-lg-3">
        <% if @items.size == 0 %>
          <p>Pas d'objet trouvé.</p>
        <% else %>
          <p> <%= @items.size %> objets trouvés</p>
        <% end %>
      </div>
    </div>

    <!-- Body -->
    <div class="body" style="display: flex">
      <!-- Side bar -->
      <div class="side-bar">
        <!-- Categories -->
        <h3 class="filer-name">Catégories</h3>
        <% @categories.each do |category| %>
          <div class="category">
            <input id="category-<%= category.id %>" type="checkbox" name="cat[]"
            <%= @params_categories.include?(category.id.to_s) ? 'checked' : '' %> value="<%= category.id %>">
            <label for="category-<%= category.id %>"><%= category.name %></label>
          </div>
        <% end %>

        <!-- Attention à garder le status checked lorsqu'on submit la page cf line 36 -->

        <!-- Sort -->
        <h3 class="filer-name">Trier par</h3>
        <div class="category">
          <input type="checkbox" name="sort" id="sort_order_asc"
            <%= @params_sort.include?("asc") ? 'checked' : '' %>
            value="asc">
          <label for="sort_order_asc">Nom</label>
        </div>
        <!-- Submit button is replace by a click event listener -->
        <!--<input type="submit" value="filter">-->
      </div>

      <!-- Cards -->
      <div class="container container-items">
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <%= render 'shared/card_item', item: item %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </form>
</div>


