<div class="wrapper", style="display: flex">

  <div class="sidebar col-xs-12", style="max-width: 222px">
    <h3>Collections</h3>
    <ul>
    <li><%= link_to "All collection", items_path + "?col=0"  %></li>
      <% @collections.each do |collection| %>
        <li><%= link_to collection.name, items_path + "?col=#{collection.id}"  %>(<%= collection.items.size %>)</li>
      <% end %>
    </ul>

    <h3>Sort</h3>
    <ul>
      <li><%= link_to "Name", items_path + "?order=name"  %></li>
      <li><%= link_to "Reset", items_path + "?order="  %></li>
    </ul>
  </div>

  <div class="container">
    <!-- Search bar -->
    <div class="col-xs-12 filter-zone">
      <h4> <%= form_tag items_path, method: :get, class: "search" do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Search for an specific item",
              class: "input",
                value: session["query"]
            %><i class="fa fa-search" aria-hidden="true"></i>
          <% end %></h4>
    </div>

    <!-- Cards -->
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'shared/card_item', item: item %>
        </div>
      <% end %>
    </div>
  </div>
</div>
