<div class="container-show">
  <ul class="breadcrumb">
    <li>Collection : <%= link_to "#{@item.collection.name}", collections_path %></li>
    <li>Category : <%= link_to "#{@item.category.name}", collections_path %></li>
  </ul>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-show" >
        <%= card_background_image_path @item  %>
      </div>
    </div>
    <div class="col-xs-12 col-md-1">
      <div class="vertical-edge"></div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="box1">
        <h1><%= @item.name.capitalize %> </h1>
        <h2><%= humanized_money_with_symbol(@item.price)%></h2><br>
        <h2><%= @item.description %></h2><br>

        <div class="conditions" >
         <%= render 'conditions' %>
        </div>
  <ul class="bottom-box1">
    <li><%= @item.created_at.strftime("Created on %d/%m/%Y") %></li>
    <li><%= link_to "Back", collections_path  %></li>
  </ul>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- envoyer le lien edit vers le lien "lend" correspondant dans collection  -->
