<div class="container-show">
    <ul class="breadcrumb">
      <li><%= link_to "#{@item.collection.name}", collections_path %></li>
      <li><%= link_to "#{@item.category.name}", collections_path %></li>
    </ul>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="card-show" >
        <%= card_background_image_path @item  %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="box1">

        <h1><%= @item.name %> </h1><br>
        <h2>Price :</h2><p> <%= humanized_money_with_symbol(@item.price)%></p>
        <h2>Description :</h2><p> <%= @item.description %> </p>
        <div class="item-available">
          <% if @item.reminders[0].nil? %>
            <p><%= button_to @text , new_item_reminder_path(@item), class: "btn-verbe" %></p>
          <% else %>
            <p><%= button_to @text , new_item_path, class: "btn-verbe-not-available" %></p>
          <% end %>
        </div>
         <div class="far fa-trash-alt">
          <%= link_to "", item_path(@item),
            method: :delete,
            data: {confirm: "Are you sure?" } %>
        </div>
        <div class="far fa-edit"></div>
      </div>
    </div>
  </div>
</div>
