<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, @item.name %>
<% content_for :meta_description, @item.description %>
<% if @item.photo.present?
content_for :meta_image, cl_image_path(@item.photo)
end %>

<div class="container-show">

  <%= card_background_image_path @item%>
  <div class="describe">
    <div class="info">
      <h1><%= @item.name.capitalize %> </h1>
      <p>Category : <%= @item.category.name %></p>
      <p><%= @item.created_at.strftime("Created on %d/%m/%Y") %></p>
      <h2>
        <% if @verbe == "To Rent" %>
          <%= humanized_money_with_symbol(@item.price) %> / day
        <% end %>

        <% if @verbe == "To Sell" %>
          <%= humanized_money_with_symbol(@item.price) %>
        <% end %>
      </h2>      <br>
      <% unless @item.description.nil? %>
        <p> <%= @item.description.capitalize %> </p>
      <% end %>
    </div>

    <% if @item.collection.user != current_user   %>

      <div style="width: 100%">
        <% if @item.collection.user.avatar.file.nil? %>
          <i class="fas fa-user avatar-icon"></i>
        <% else %>
          <%= cl_image_tag @item.collection.user.avatar, height: 100, width: 100, crop: :fill, class: "avatar-item" %>
        <% end %>
      </div>
    <% end %>
    <div class="conditions" >
      <%= render 'conditions' %>
    </div>


  </div>
</div>




