<% content_for :meta_title, @item.name %>
<% content_for :meta_description, @item.description %>
<% if @item.photo.present?
content_for :meta_image, cl_image_path(@item.photo)
end %>

<div class="container-show">

  <div class="picture">
    <%= card_background_image_path @item %>
  </div>

  <div class="describe">
    <div class="navbar-owner">
      <%= render 'shared/avatar_name', user: @item.collection.user,  size: "standard" %>
      <div class="verbe"><%=  @item.text("out") %></div>
    </div>
    <div class="infos">
      <div class="titles">
        <span class="show-category"><%= @item.category.name %></span>
        <br>
        <span class="item-name"><%= @item.name %></span>

      </div>

      <div class="description">
        <% unless @item.description.nil? || @item.description == "" %>
            <span class="title-description">Description :</span><br>
            <%= @item.description %>
        <% end %>
      </div>
      <div class="creation">

        <%= @item.created_at.strftime("Créé le %d/%m/%Y") %>
      </div>
    </div>

    <div class="actions">
      <div class="status">
        <i class="<%= hash_status(@item)[:icon] %>" ></i> <%= hash_status(@item)[:text] %>
      </div>
      <% unless hash_status(@item)[:renter].nil? %>
            <div class="avatar-name"><%= render 'shared/avatar_name', user: hash_status(@item)[:renter], size: "standard" %></div>
      <% end %>
      <% unless hash_status(@item)[:button].nil? %>
            <%= button(hash_status(@item)[:button]) %>
      <% end %>

      <% if @item.collection.user == current_user && @item.reminders.size == 0 %>
        <div class="buttons-bottom">
          <!-- edit -->
          <%= link_to edit_item_path(@item) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>

          <!-- delete -->
          <%= link_to item_path(@item),
            method: :delete,
            data: {confirm: "Are you sure you want to delete this item ?" }, class: "little-button"  do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @item.collection.user == current_user && !@item.pending_reminders.size.zero? %>

    <div class="waiting-list">
      File d'attente :
      <% @item.pending_reminders.each do |reminder| %>
        <%= render 'shared/avatar_name', user: reminder.user, size: "standard" %>
        <%= link_to "Reserve", item_reminders_path(@item,
        reminder: {user_id: current_user, status: "pending"}),
        method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
